/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    scroll-behavior: smooth;
    scroll-padding: 15%;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}

/* ============================================================================ */

body{
    font-family: 'Montserrat', sans-serif;
    color: #160E20;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    background: url(/static/src/images/Background.png) top no-repeat;
}
.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container{
    max-width: 1290px;
    padding: 0px 60px;
    margin: 0px auto;
}

.main{
    flex: 1 1 auto;
}
.main__body{
    position: relative;
}

/* ============================================================================ */

.block-text {
    z-index: 3;
}

.title {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    line-height: 44px;
    max-width: 500px;
}

.title:not(:last-child) {
    margin: 0px 0px 30px 0px;
}

.text {
    color: #B1B9CE;
    max-width: 500px;
}

.text:not(:last-child) {
    margin: 0px 0px 30px 0px;
}

/* ============================================================================ */
.header__menu {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__icon {
}
.header__list {
    gap: 70px;
    display: flex;
}
.header__item {
    position: relative;
}
.header__item:after {
    content: '';
    height: 2px;
    width: 0px;
    background-color: #7856FF;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transition: all 0.2s ease;
}

.header__item:hover:after {
    width: 75%;
    left: 12.5%;
 
}
.header__link {
    color: #160E20;
}

/* ============================================================================ */

.join {
    overflow: hidden;
    margin: 50px 0px 0px 0px;
    padding: 0px 0px 90px 0px;
}

.join__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.join__block-text {
}

.join__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 73px;
    color: #160E20;
    margin: 0px 0px 30px 0px;
}

.join__title span{
    color: #7856FF;

}

.join__text {
    max-width: 300px;
    color: #160E20;
}

.button{
    display: inline-block;
    background-color: #160E20;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    padding: 20px 30px;
    line-height: 22px;
    text-align: center;

    transition-duration: 0.3s;
}

.button:hover{
    background-color: #7856FF;
    box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.15);
    transform: translate(0px, -4px);
}

.join__button {
    margin: 80px 0px 0px 0px;
}

.join__button:hover {
    
}

.join__img {
    margin: 0px 0px 0px 100px;
}

.join__img img{
    
}






/* ============================================================================ */

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 90px;
    width: 100%;
    top: 0px;
    left: 0;
}
._sticky{
    align-items: center;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #fff;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1);
    z-index: 5;
}
.nav__body {
    max-width: 1170px;
    width: 100%;
    position: relative;
}
.nav__menu {
    display: flex;
    align-items: center;
}
.nav__icon-block{ 
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: none;
}
.nav__icon {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    transition-duration: 0.3s;
}
.nav__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav__item {
    position: relative;
}
.nav__item-phone {
    display: none;
}

.nav__item:after {
    content: '';
    height: 2px;
    width: 0px;
    background-color: #7856FF;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transition: all 0.2s ease;
}

.nav__item:hover:after {
    width: 75%;
    left: 12.5%;
 
}

.nav__link {
    color: #292731;
}
.nav__popup {
    display: none;
}
.nav__popup::after{
    display: none;
}


/* ============================================================================ */

.concept {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 65px 0px;
    padding: 90px 0px 0px 0px;
}
.block{
    max-width: 1350px;
    width: 100%;
    overflow: hidden;
    background-color: #160E20;
    border-radius: 20px;
    z-index: 1;
}
.concept__blocks {
    display: flex;
    flex-direction: column;
}
.block__block-text {
}
.block__title {
}
.block__title span{
    color: #56FFCC;
}
.block__text {
}
.block__img{
}
.block__img img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0.5;
}
/*-----------------------------------*/

.concept__block1 {
    overflow: hidden;
    position: relative;
}
.block1__contant {
    padding: 65px 0;
    min-height: 400px;
    display: flex;
}

/*-------------------------------*/

.concept__block2 {
    overflow: hidden;
    position: relative;
}
.block2__contant {
    min-height: 400px;
    padding: 65px 0px;
    display: flex;
    flex-direction: row-reverse;
    
}

/*------------------------------*/

.concept__block3 {
    overflow: hidden;
    position: relative;
}
.block3__contant {
    min-height: 400px;
    padding: 65px 0px;
    display: flex;
    flex-direction: column;
}
.block3__howto {
    width: 100%;
    margin: 30px 0px 0px 0px;
    z-index: 3;
}
.block3__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    
}
.block3__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block3__item img{
    max-width: 100px;
    max-height: 100px;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
}
.block3__item p{
    max-width: 225px;
    margin: 20px 0px 0px 0px;
    text-align: center;
}
/* ============================================================================ */

.cases {
    margin: 0px 0px 65px 0px;
}
.cases__block {
}
.cases__contant {
    position: relative;
}
.cases__block-text {
}
.cases__title {
    color: #160E20;
}
.cases__title span{
    color: #7856FF;
}
.cases__text {
    max-width: 300px;
    text-transform: uppercase;
    color: #160E20;
}
.cases__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}
/*-----------------------------------*/
.cases__allCases {
    margin: 65px 0px 0px 0px;
}
.cases__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 270px));
    justify-content: center;
    grid-auto-rows: 1fr;
    gap: 30px;
}
.cases__item {
    overflow: hidden;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    

    z-index: 1;
    filter: grayscale(100%);
    transition-duration: 0.3s;
}
.cases__item:hover {
    transform: translate(0,-5px);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    filter: grayscale(0);
}
.case {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto minmax(170px, 1fr) / 1fr;
}
.case__img{
    position: relative;
    padding: 0px 0px 60% 0px;
}
.case__img img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.case__block-text {
    text-transform: uppercase;
    
    padding: 20px;
}
.case__text {
    color: #160E20;
}

/* ============================================================================ */

.dates {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 65px 0px;
}
.dates__block {
}
.dates__contant {
    padding: 65px 0;
    display: flex;
    flex-direction: column;
    position: relative;
}
.dates__block-text {
}
.dates__title span{
    color: #56FFCC;
}
.dates__text {
    text-transform: uppercase;
}
.dates__date {
    margin: 65px 0px 0px 0px;
}
.dates__list {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 30px;
}
.dates__item {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}
.item__title {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0px 0px 15px 0px;
}
.item__text {
}
.dates__img {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-15%,-50%);
}
.dates__img img{
    width: 650px;
}

/* ============================================================================ */
.faq{
    margin: 0px 0px 100px 0px;
}
.faq__block {
}
.faq__contant {
}
.faq__block-text {
}
.faq__title {
    color: #160E20;
}
.faq__title span{
    color: #7856FF;
}
.faq__text {
}
.faq__grid {
    margin: 65px 0px 0px 0px;
}
.faq__list {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    gap: 15px;
}
.faq__item {
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.faq__item-big{
    grid-column: span 2;
}

/* ============================================================================ */

.footer {
    background-color: #160E20;
}
.footer__contant {
    display: flex;
    align-items: center;
    height: 200px;
}
.footer__text {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer__far {
    color: #B1B9CE;
}
.footer__contact {
    color: #B1B9CE;
}

/* ============================================================================ */

.head {
    margin: 50px 0px 50px 0px;
}
.head__contant {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head__block-text {
    max-width: 500px;
}
.head__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    color: #160E20;
}
.head__title span{
    color: #7856FF;
}
.head__button {
    margin: 30px 0px 0px 0px;
}
.head__img {
    position: relative;
    max-width: 600px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25);
    padding: 0px 0px 25% 0px;
}
.head__img img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover

}

/* ============================================================================ */

.company {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0px 65px 0px;
}
.company__block {
    position: relative;
}
.company__content {
    padding: 65px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.company__block-text {
}
.company__title {
}
.company__title span{
    color: #56FFCC;
}
.company__text {
}
.company__img {
    margin: 0px 0px 0px 50px;
}
.company__img img{
    width: 100%;
}
.company__back {
}
.company__back img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0.05;
    z-index: -1;
}

/* ============================================================================ */

.description {
    margin: 0px 0px 65px 0px;
}
.description__block {
}
.description__content {
}
.description__block-text p{
    text-align: justify;
}
.description__content p:not(:last-child) {
    margin: 0px 0px 30px 0px;
}
.description__title {
    color: #160E20;
}
.description__title span{
    color: #7856FF;
}

/* ============================================================================ */

.ment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 65px 0px;
}
.ment__block {
    position: relative;
}
.ment__content {
    padding: 65px 0;
}
.prof__block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.ment__block-text {
}
.ment__title {
    margin: 0px 0px 65px 0px;
}
.ment__title span{
    color: #56FFCC;
}
.ment__prof {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ment__img {
    overflow: hidden;
    border-radius: 20px;
    margin: 0px 0px 30px 0px;
}
.ment__img img{
    width: 100%;
    height: 100%;
}
.ment__text {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.ment__text span{
    font-weight: 700;
}
.ment__back img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0.05;
    z-index: -1;
}

/* ============================================================================ */

.form {
    margin: 0px 0px 65px 0px;
}
.form__block {
    margin: 0px 0px 30px 0px;
}
.form__block-text {
    margin: 0px 0px 65px 0px;
}
.form__title {
    color: #160E20;
}
.form__title span{
    color: #7856FF;
}
.form__list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(52px, 1fr));
    grid-template-areas: "name role" "secname role" "year role" "email role" "number role" "org check";
}
.form__item {
    height: 100%;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.form__check{
    height: 100%;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.form__check span{
    margin: 0px 0px 0px 5px;
}
.form__check input{
    width: 15px;
    height: 15px;
}
.form__item textarea{
    width: 100%;
    height: 100%;
    resize: none;
}
.form__item:nth-child(1) {
    grid-area: name;
}
.form__item:nth-child(2) {
    grid-area: secname;
}
.form__item:nth-child(3) {
    grid-area: year;
}
.form__item:nth-child(4) {
    grid-area: email;
}
.form__item:nth-child(5) {
    grid-area: number;
}
.form__item:nth-child(6) {
    grid-area: role;
}
.form__item:nth-child(7) {
    grid-area: org;
}
.form__item:nth-child(8) {
    grid-area: check;
}
.form__value {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}
.form__button {
}
.button {
}

/* ============================================================================ */




@media (max-width: 1350px){
    body{
        background: none;
    }
    .join__content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .join__img {
        margin: 0 auto;
    }
    
    .join__img img{
        width: 700px;
    }
    .block {
        border-radius: 0px;
    }
}

@media (max-width: 1142px){
    .title {
        text-align: center;
        max-width: none;
    }
    .text {
        max-width: none;
    }
    /*-----------------------------*/
    .join__img img{
        width: 500px;
    }
    /*-----------------------------*/
    .concept{
        margin: 0px 0px 65px 0px;
    }
    .block2__contant{
        flex-direction: row;
    }
    .block3__contant {
        align-items: center;
    }
    .block3__howto {
        max-width: 656px;
    }
    .block3__item p{
        max-width: 200px;
    }
    /*-----------------------------*/
    .cases__title:not(:last-child){
        margin: 0px 0px 15px 0px;
    }
    .cases__text:not(:last-child){
        margin: 0px 0px 15px 0px;
    }
    .cases__text, .dates__text{
        text-align: center;
    }
    /*-----------------------------*/
    .dates__img {
        transform: translate(-10%,-45%);
    }
    .dates__img img{
        width: 600px;
    }
    /*-----------------------------*/
    .head__img {
        margin: 0px 0px 0px 50px;
    }
    /*---------------------------*/
    .company__content {
        align-items: center;
        flex-direction: column;
    }
    .company__img {
        margin: 30px 0px 0px 0px;
    }
    .company__img img{
        width: 100%;
    }
    /*--------------------------*/
    .head__img {
        padding: 0px 0px 33% 0px;
    }
}

@media (max-width: 945px){
    .join__img img{
        width: 400px;
    }
    /*--------------------*/
    .block3__contant {

    }
    .block3__list {
        
    }
    .block3__item p{
        margin: 20px 0px 0px 0px;
    }
    /*----------------------------*/
}

@media (max-width: 830px){
    html{
        scroll-padding: 130px;
    }
    body{
        font-size: 16px;
        line-height: 19px;
    }
    .header{
        display: none;
    }
    .container{
        max-width: 1230px;
        padding: 0px 30px;
        margin: 0px auto;
    }
    .title {
        font-size: 28px;
        line-height: 34px;
    }
    
    .title:not(:last-child) {
        margin: 0px 0px 30px 0px;
    }
    
    .text {
        max-width: none;
    }
    .join{
        padding: 0px;
    }
    .text:not(:last-child) {
        margin: 0px 0px 30px 0px;
    }
    .join__content {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .join__title:not(:last-child) {
        font-size: 54px;
        line-height: 65px;
        margin: 0px 0px 15px 0px;
    }
    .join__text:not(:last-child){
        max-width: none;
        color: #160E20;
        margin: 0px 0px 15px 0px;
    }
    .join__button{
        margin: 30px 0px 0px 0px;
    }
    .join__img {
        margin: 10% 0px 0px 0px;
        
    }
    .join__img img{
        width: 100%;
        min-width: 450px;
    }
    /*-------------------------------*/
    .nav{
        display: none;
    }
    ._sticky{
        display: flex;
        height: 70px;
    }
    .nav__menu{
        display: flex;
        flex-direction: row-reverse;
    }
    .nav__list{
        justify-content: flex-start;
    }
    .nav__item:not(:first-child){
        display: none;
    }
    .nav__item-phone{
        display: inline;
    }
    .nav__icon-block{
        display: flex;
    }
    .nav__icon._active{
        transform: rotate(225deg);
    }
    .nav__popup {
        position: absolute;
        display: block;
        position: fixed;
        width: 100%;
        top: -100%;
        left: 0;
        background-color: #fff;
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1);
        z-index: -1;
    }
    .nav__popup._active{
        top: 70px;
    }
    .popup__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 10px 0px 30px 0px;
        font-weight: 700;
    }
    .popup__list li:nth-child(1),
    .popup__list li:nth-child(2){
        font-weight: 500;
    }
    .popup__item {
    }
    .popup__link{
        color: #160E20;
    }
    /*-------------------------------*/
    .concept{
        padding: 70px 0px 0px 0px;
    }
    .block1__contant {
        min-height: 350px;
    }
    .block2__contant{
        min-height: 350px;
        flex-direction: row;
    }
    .block3__contant{
        min-height: 350px;
    }
    
    /*-------------------------------*/

    .dates__img {
        display: none;
    }
    .dates__list {
        max-width: none;
    }
    /*--------------------------*/
    .head__contant{
        flex-direction: column;
    }
    .head__block-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .head__title{
        text-align: center;
    }
    .head__img{
        margin: 80px 0px 0px 0px;
    }
    /*----------------------------*/
    .form__list {
        grid-template-columns: minmax(200px, 1fr);
        grid-template-areas: "name" "secname" "year" "email" "number" "role" "org" "check";
    }
    .form__button{
        width: 100%;
    }
    /*--------------------------*/
    .head{
        margin: 50px 0px 0px 0px;
    }
    .head__block-text {
        max-width: none;
    }
    .head__img{
        width: 100%;
        padding: 0px 0px 60% 0px;
    }
    /*-----------------------*/
    .company{
        padding: 70px 0px 65px 0px;
    }
}

@media (max-width: 630px){
    .cases__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
        grid-auto-rows: 1fr;
        gap: 30px;
    }
    .cases__item {
        max-width: none;
        width: 100%;
    }
    /*----------------------------*/
    .footer__text{
        flex-direction: column;
    }
    .footer__far{
        margin: 0px 0px 15px 0px;
    }
    /*----------------------------*/
    
    .faq__list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
    }
}
@media (max-width: 472px){
    .faq__item-big{
        grid-column: span 1;
    }
}
